/* Единный стиль шрифта */
body, div {
    font-family: Roboto !important;
}
/*** ----- Классы ------ ***/
/* Кнопки */
.btn-connect {
    background-color: #4B47B2;
    color: white;
}
.btn-gallery {
    background-color: #e1e3e6;
    color: #4B47B2;
}
.btn-create {
    background-color: #4B47B2;
    color: white;
}
/* Inputs для ввода ID сессии */
.input {
    width: 40px;
    height: 40px;
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
}
/* Логотип */
.logo {
    margin: 1em;
}
/* Карточки и группы из которых состоит UI */
.group {
    padding: 0em 1em;
}
.transparent-background {
    background-color: rgba(0, 0, 0, 0%);
}
/* Отступ снизу */
.mb1 {
    margin-bottom: 1em;
}
/* Выравнивание контента по центру блока */
.content-center {
    display: flex;
    justify-content: center;
}
/* Выравнивание текста в блоке по центру */
.text-center {
    text-align: center;
}
/* Элемент с шириной 25em */
.w25 {
    width: 25em;
}
