/*** ----- Классы ------ ***/
/* Распределение в карточке контента на столбцы */
.cardRowDir {
    display: flex;
    flex-direction: row;
    padding: 1.2em .8em;
}
/* Левая часть карточек MyGames */
.leftSideMygames {
    display: flex;
    width: 50%;
    flex-direction: column;
}
/* Правая часть карточек MyGames */
.rightSideMygames {
    display: flex;
    width: 45%;
    justify-content: flex-end;
    align-items: center;
}
.sferumColor {
    color: #4B47B2;
}
/* Кнопки */
.btnStart {
    background-color: #4B47B2;
    color: white;
}
/* Выравнивание контента по центру блока */
.contentCenter {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* Отступ снизу */
.mb1 {
    margin-bottom: 1em;
}
/* Второстипенный текст */
.textSecondary {
    font-size: .8em;
    color: 'var(--text_secondary)';
}
/* Жирность шрифта 400 */
.fw400 {
    font-weight: 400;
}
/* Жирность шрифта 600 */
.fw600 {
    font-weight: 600;
}
.card {
    width: 60%;
    min-width: 382px;
}
